:root {
    --primary-color: #C73659;
    --secondary-color: #D4AF37;
    --accent-color: #A8C66C;
    --main-color: #B22222;
    --ash: #A89A8C;
    --background-color: #FDEAA8;
    --text-color: #2E2E2E;
    --light-bg: #FAF4E6;
}
