.h-hero-stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

.h-stat-item {
    font-family: Arial, sans-serif;
}

.h-stat-number-wrapper {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.h-plus {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.h-stat-label {
    font-size: 1rem;
    margin-top: 5px;
    display: inline-block;
    color: var(--ash);
}

.h-stat-number {
    transition: all 0.2s ease-in-out;
}