* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

:root {
  --primary-color: #C73659;
  --secondary-color: #D4AF37;
  --accent-color: #A8C66C;
  --main-color: #B22222;
  --ash: #A89A8C;
  --background-color: #FDEAA8;
  --text-color: #2E2E2E;
  --light-bg: #FAF4E6;
  --gradient-to-right: linear-gradient(to right, #D4AF37, #FDEAA8);
  --gradient-to-left: linear-gradient(to left, #D4AF37, #FDEAA8);
}

.App {
  background-color: var(--background-color);
  font-family: 'Inter', 'Tiro Devanagari Sanskrit', 'Noto Serif Devanagari', sans-serif;
}

section {
  padding-bottom: 60px;
}


/* Navbar */

.navbar {
  border-bottom: var(--primary-color) 2px solid;
}

.navIcon {
  color: #B22222;
}

.navbar-toggler:focus {
  outline: 0 !important;
  border: none !important;
  box-shadow: none !important;
}