@media (max-width: 991.98px) {
    .container-fluid {
        padding: 20px 0;
    }

    .NavContainer h1 {
        display: block;
    }

    .auth-btn {
        margin: 0.5rem 0 1rem 0;
    }

    .App {
        padding-top: 50px !important;
    }

    .courses {
        padding: 30px 0 !important;
    }

    .btn-enroll {
        padding: 8px 10px;
    }


    .LibraryHeading {
        width: 90%;
    }

    .LibraryFilterBar select {
        padding: 0.5rem !important;
    }
}





@media (max-width: 767.98px) {
    .container-fluid {
        padding: 10px 0;
    }
}




@media (max-width: 479.98px) {
    .container-fluid {
        padding: 5px 0;
    }

    .NavContainer img {
        width: 60px !important;
    }
}