@media (max-width: 991.98px) {
    section {
        padding-bottom: 40px;
    }
}





@media (max-width: 767.98px) {
    section {
        padding-bottom: 20px;
    }
}




@media (max-width: 479.98px) {
    section {
        padding-bottom: 10px;
    }
}