@media (max-width: 991.98px) {
    .container-fluid {
        padding: 20px 0;
    }

    .NavContainer h1 {
        display: block;
    }

    .auth-btn {
        margin: 0.5rem 0 1rem 0;
    }
}




@media (max-width: 767.98px) {
    .container-fluid {
        padding: 10px 0;
    }
}




@media (max-width: 479.98px) {
    .container-fluid {
        padding: 5px 0;
    }

    .NavContainer img {
        width: 60px !important;
    }
}